.blackbackground{
    background-color: rgba(40,40,40,0.8);
}body{
    color:white;
    background-color: #292b2c;
}    
#background{
    background-color: darkslategray;
    background-image: url(./assets/abstractKeyboard.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    background-color: transparent;
    height:80vh;
    min-height: 350px;
    color: white;
    padding-top: 18vh;
}
#titlecard{
    min-height: 200px;
    width: 50em;
}
#contact-background{
    background-color: transparent;
    min-height: 350px;
    color: white;
    padding-top: 18vh;
}
.card a{
    color:lightblue;
}
.card a:visited{
    color: lightcyan;
}
.outline-text{
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}